    .form header {
        width: 80%;
        font-weight: 500;
        font-size: 25px;
        margin: 25px 0 0 128px;
        border-bottom: 1px solid #a5a3a3;
    }
    
    .form .outcome {
        padding-left: 128px;
        margin: 30px 0 30px 0;
    }
    
    .form .outcome .block {
        background-color: #c4baac;
        height: 30px;
        width: 200px;
        border-radius: 5px;
    }
    
    .form .outcome a {
        padding: 15px;
        color: #fff;
        text-decoration: none;
    }
    
    .form .income {
        padding-left: 128px;
        margin: 30px 0 30px 0;
    }
    
    .form .income .block {
        background-color: #c4baac;
        height: 30px;
        width: 200px;
        border-radius: 5px;
    }
    
    .form .income a {
        padding: 15px;
        color: #fff;
        text-decoration: none;
    }
    
    .button input {
        margin: 45px 0 0 30%;
        height: 45px;
        width: 400px;
        background: #c4baac;
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }