@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.content {
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background: linear-gradient(to right, #B0A698 0%, #C7BBAB 100%);
}

.container {
    background: #ffff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.container form .title {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container form .title::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    bottom: 3px;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(to right, #B0A698 0%, #C7BBAB 100%);
}

.container form .input-box {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.container form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

.container form .underline:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.container form .underline:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #B0A698 0%, #7A6445 100%);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.container form .input-box input:focus~.underline:after,
.container form .input-box input:valid~.underline:after {
    transform: scaleX(1);
    transform-origin: left;
}

.container form .button {
    margin: 40px 0 20px 0;
}

.container form .input-box input[type="submit"] {
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #B0A698 0%, #C7BBAB 100%);
    transition: all 0.3s ease;
}

.container form .input-box input[type="submit"]:hover {
    letter-spacing: 1px;
    background: linear-gradient(to left, #B0A698 0%, #C7BBAB 100%);
}

.container .option {
    font-size: 14px;
    text-align: center;
}

.container .google a,
.container .facebook a {
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
}

.container .google i,
.container .facebook i {
    padding-right: 12px;
    font-size: 20px;
    margin-top: 11px;
}

.container .google a {
    margin: 20px 0 15px 0;
    background: linear-gradient(to left, #5390FB 0%, #4C85E0 100%);
}

.container .google a:hover {
    background: linear-gradient(to right, #5390FB 0%, #4C85E0 100%);
}

.container .facebook a {
    margin: 20px 0 50px 0;
    background: linear-gradient(to left, #3b5998 0%, #476bb8 100%);
}

.container .facebook a:hover {
    background: linear-gradient(to right, #3b5998 0%, #476bb8 100%);
}

.container .link {
    font-size: 14px;
    text-align: center;
}